html {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input,
textarea {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

header {
  display: flex;
}

.section {
  padding: 80px 115px;
}
