:root {
  --font-family-SpaceMono: "Space Mono", monospace;
  --font-family-WorkSans: "Work Sans", sans-serif;

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-22: 22px;
  --font-size-28: 28px;
  --font-size-38: 38px;
  --font-size-51: 51px;
  --font-size-67: 67px;

  --line-height-110: 110%;
  --line-height-120: 120%;
  --line-height-140: 140%;
  --line-height-160: 160%;

  --main-background-color: #2b2b2b;
  --secondary-background-color: #3b3b3b;

  --button-bsckground-color: #a259ff;

  --main-text-color: #ffffff;
  --secondary-text-color: #858584;
}
